@import '@styles/variables.scss';

.tipContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  background: $color-black-bg;
  border-radius: 16px;
}

.tipHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.tipTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin-top: 4px;
}

.tipIcon {
  width: 20px;
  height: 20px;
}

.tipContent {
  font-size: 12px;
  line-height: 140%;
}

.tipFooter {
  width: 100%;
}
