@import '../../../styles/variables';

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  margin-bottom: 4px;
  color: $color-black-default;
  border-radius: 8px;
  width: 46px;
  height: 46px;

  &.itemActive {
    background-color: $color-blue-bg;
  }
}

.icon {
  svg {
    width: 18px;
    height: 18px;
    transition: all $transition-duration;
  }
}

.label {
  font-size: 8px;
  transition: all $transition-duration;

  &.labelActive {
    color: $color-iris-100;
    font-weight: 700;
  }
}
