@import '../../styles/variables';

.primaryButton {
  background-color: $color-black-default;
  box-shadow: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border-radius: 12px;
  color: $color-white-pure;
  height: 36px;
}
