@import '../../styles/variables.scss';

.select {
  padding: 0;

  :global {
    .ant-select-arrow {
      top: 36%;
    }
  }
}

.suffixIcon {
  fill: $color-black-default;
}

.displayToken {
  margin-right: 16px;
}
