@import '@styles/variables.scss';

.container {
  width: 100%;
}

.receiveBoxTitle {
  margin-left: 0;
}

.previewResult {
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-black-disabled;
}

.balanceBox {
  width: 100%;
}

.boxTitle {
  font-size: 12px;
  line-height: 15px;
  color: $color-black-disabled;
}

.boxSubtitle {
  margin-left: -16px;
}

.balanceLabel {
  font-size: 10px;
  line-height: 13px;
  color: $color-black-disabled;
}
