@import '@styles/variables.scss';

.titleContainer {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background: $color-black-bg;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 10px;
  line-height: 13px;

  &.clickable {
    cursor: pointer;
  }
}

.titleIcon {
  svg {
    width: 20px;
    height: 20px;
  }

  &.active {
    svg {
      stroke: $color-iris-100;
    }
  }

  &.asc {
    svg {
      transform: rotate(180deg);
    }
  }
}

.titleText {
  font-size: 10px;
  line-height: 13px;

  &.active {
    color: $color-iris-100;
  }
}
