@import '../../../../../styles/variables.scss';

.platformStats {
  margin-top: 32px;
}

.statsTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $color-black-disabled;
  margin-bottom: 16px;
}

.statLabel {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: $color-black-disabled;
  margin-bottom: 4px;
}

.statValue {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
