@import '../../../../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  border: none;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: $color-iris-100;
  background-color: transparent;
  text-align: right;

  &:active,
  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}
