@import '../../styles/variables';

.container {
  display: flex;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 6px;
  background: #f2f1f5;
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  margin-right: 4px;
  color: $color-dark;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-dark;
  }
}

.icon {
  margin-right: 4px;
}
