@font-face {
  font-family: samsung sharp sans;
  font-style: normal;
  font-weight: 400;
  src: local('Samsung Sharp Sans'), url(../assets/fonts/samsungsharpsans.woff) format('woff')
}

@font-face {
  font-family: samsung sharp sans;
  font-style: normal;
  font-weight: 500;
  src: local('Samsung Sharp Sans'), url(../assets/fonts/samsungsharpsans-medium.woff) format('woff')
}

@font-face {
  font-family: samsung sharp sans;
  font-style: normal;
  font-weight: 700;
  src: local('Samsung Sharp Sans'), url(../assets/fonts/samsungsharpsans-bold.woff) format('woff')
}
