@import './fonts';

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Samsung Sharp Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}
