$color-white-pure: #ffffff;
$color-black-default: #221533;
$color-black-disabled: #868098;
$color-iris-100: #5d5fef;
$color-green-pure: #05c9a1;
$color-yellow: #ffc01d;
$color-blue-bg: #f1f1ff;
$color-main-bg: rgba(248, 248, 255, 0.8);
$color-black-bg: #f2f1f5;

$font-size-xxs: 8px;
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 13px;
$font-size: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;

$border-radius: 2px;
$border-radius-l: 4px;
$border-radius-l2: 6px;
$border-radius-l3: 8px;

$space-xxxs: 1px;
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 12px;
$space-l: 16px;
$space-l2: 20px;
$space-l3: 24px;
$space-xl: 32px;
$space-xxl: 64px;

$container-max-width: 1366px;

$transition-duration: 0.3s;
