@import '../../../styles/variables.scss';

.container {
  padding: 0px;
  width: 360px;
  background-color: rgba(253, 253, 255, 0.6);
  border-radius: 16px;
  margin-bottom: 8px;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: $color-white-pure;
  border-radius: 16px;
  width: 100%;
}

.inputBoxContainer {
  margin-bottom: 24px;
}

.checkboxContainer {
  margin-bottom: 16px;
}

.previewContainer {
  margin-bottom: 24px;
}

.buttonContainer {
  margin-bottom: 24px;
}

.detailContainer {
  margin-bottom: 24px;
}
