@import '../../styles/variables';

.buttonPrimary {
  background-color: $color-black-default;
  box-shadow: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border-radius: 12px;
  color: $color-white-pure;
  border-color: $color-black-default;
  height: 36px;

  &:hover,
  &:focus,
  &:active {
    color: $color-white-pure !important;
    border-color: $color-black-default !important;
  }
}
