@import '../../styles/variables';

.buttonPrimary {
  background-color: $color-black-default;
  box-shadow: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border-radius: 12px;
  color: $color-white-pure;
  height: 36px;

  &:hover,
  &:focus,
  &:active {
    svg {
      path {
        stroke: #4096ff;
      }

      rect {
        fill: #4096ff;
      }
    }
  }
}
