@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
}

.leftContainer {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex: 1;
}

.leftInnerContainer {
  flex: 1;
}

.overviewContainer {
  display: flex;
  flex: 1;
  background: rgba(255, 255, 255, 0.6);
}

.rightContainer {
  margin-left: 24px;
}
