@import '@styles/variables';

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.label {
  font-size: 10px;
  color: $color-black-disabled;
  margin-right: 4px;
}

.separator {
  margin-left: 4px;
  margin-right: 4px;
}

.importantValue {
  font-weight: 700;
  font-size: 12px;
  color: $color-iris-100;
}

.value {
  font-size: 12px;
}
