@import '../../../styles/variables.scss';

.container {
  background-color: $color-white-pure;
  padding: 36px 24px;
  box-shadow: 0px 4px 25px rgba(241, 241, 255, 0.5);
  border-radius: 16px;
  flex: 1;
}

.tabContainer {
  margin-bottom: 36px;
}

.tab {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: $color-black-disabled;

  &.tabActive {
    color: $color-iris-100;
  }
}
