@import '../../../../styles/variables.scss';

.boxContainer {
  flex-wrap: nowrap;
}

.boxTitle {
  font-size: 12px;
  line-height: 15px;
  color: $color-black-disabled;
  margin-bottom: 8px;
}

.boxSubtitle {
  margin-left: 0;
}

.rightInputBox {
  flex: 1;
  text-align: right;
  margin-left: 20px;
}

.balance {
  margin-top: 8px;
}

.balanceLabel {
  font-size: 10px;
  line-height: 13px;
  color: $color-black-disabled;
}

.balanceValue {
  font-size: 10px;
  line-height: 13px;
}
