@import '../../../../styles/variables.scss';

.inputBoxContainer {
  width: 100%;
}

.boxTitle {
  font-size: 12px;
  line-height: 15px;
  color: $color-black-disabled;
  margin-bottom: 8px;
}

.boxSubtitle {
  margin-left: -16px;
}

.rightInputBox {
  flex: 1;
  text-align: right;
  margin-left: 20px;
}

.select {
  width: 100%;
}

.balance {
  margin-top: 8px;
}

.balanceLabel {
  font-size: 10px;
  line-height: 13px;
  color: $color-black-disabled;
}

.balanceValue {
  font-size: 10px;
  line-height: 13px;
}

.percentageContainer {
  margin-bottom: 24px;
}
