@import '@styles/variables.scss';

.table {
  :global {
    .ant-table-thead > tr > th {
      background-color: transparent !important;
      padding: 8px 4px;
    }

    .ant-table-cell:before {
      background-color: transparent !important;
    }
  }
}

.titleContainer {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background: $color-black-bg;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 10px;
  line-height: 13px;

  &.clickable {
    cursor: pointer;
  }
}

.titleIcon {
  svg {
    width: 20px;
    height: 20px;
  }

  &.active {
    svg {
      stroke: $color-iris-100;
    }
  }

  &.asc {
    svg {
      transform: rotate(180deg);
    }
  }
}

.titleText {
  font-size: 10px;
  line-height: 13px;
}

.time {
  font-size: 8px;
  color: $color-black-disabled;
}

.date {
  font-size: 10px;
}

.type {
  font-size: 12px;
  font-weight: 700;
  color: $color-yellow;
}

.amount {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.amountLabel {
  font-size: 8px;
  color: $color-black-disabled;
}

.status {
  font-size: 12px;
  color: $color-black-disabled;
  text-align: right;
}

.action {
  display: flex;
  justify-content: flex-end;
}
