@import '../../../../../styles/variables.scss';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: $color-green-pure;
  border-radius: 10px;
  color: $color-white-pure;
  border-color: $color-green-pure;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.05em;

  &:hover,
  &:focus,
  &:active {
    color: $color-white-pure !important;
    border-color: $color-green-pure !important;
  }
}
